*,
body,
html {
  width: 100%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}

[lang="Lora"] {
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
}

.menu {
  height: 48px;
  /* padding: 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-weight: 500;
  position: relative;
  z-index: 999;
}

.text-bold {
  color: black;
}
.logo {
  margin-left: 32px;
  color: black;
  font-size: 16px;
}

.showmenu {
  display: none;
  color: black;
}

.link-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 3vw;
  width: 500px;
}

.theme {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: rgb(150, 150, 150);
  transition: all 0.5s;
  transition-duration: 0.5s;
}

.theme:hover {
  color: black;
}

/* Projects定住黑色 */
.theme.one {
  color: black;
}

/* 漢堡選單 */
@media (max-width: 767px) {
  /* 固定表頭，記得設定寬度 100% */

  .logo {
    width: 960px;
  }

  .menu {
    position: fixed;
    width: 100%;
  }

  #link-group {
    background-color: white;
    /* 隱藏選單 */
    max-height: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    /* 取消 display: flex; */
    display: block;
    /* 設定絕對定位 */
    position: absolute;
    /* 改高度 */
    top: 48px;
    /* 選單滿版呈現，也可以設定 left:0; right:0; */
    left: 0;
    right: 0;
    /* width: 100%; */
    text-align: center;
    transition: max-height 0.8s;
  }

  .menu li {
    background: white;
    display: inline-block;
    border-bottom: 1px solid #efefef;
  }

  .theme {
    transition: none;
    transition-duration: 0s;
    padding: 1em;
  }

  .theme:hover {
    background: #303030;
    color: white;
  }

  .showmenu {
    display: block;
    margin-right: 32px;
    text-align: end;
  }

  .menu-show #link-group {
    max-height: 1000px;
  }

  .section01 {
    padding-top: 48px;
  }
}

.wrap {
  /* padding: 0 10px; */
  /* width: 100vw; */
  margin: 0 auto;
  overflow: hidden;
}

.section01 {
  display: flex;
  flex-direction: column;
  /* 同一層排中間 */
  align-items: center;
  justify-content: center;
  height: 196px;
  background-color: white;
}

.subtitle-drawing {
  font-size: 48px;
  text-align: center;
  color: black;
  font-weight: 400;
}

.cssanimation span {
  width: auto;
  color: white;
  visibility: visible;
  animation-name: leFadeInLeft;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.animate__fadeInUp {
  animation-fill-mode: both;
  animation-duration: 1s;
}
.p-drawing {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.content {
  background: #303030;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}

.writing-list-all {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.writing-list {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 100%;
  margin-top: 56px;
  margin-bottom: 40px;
}

.text-content {
  width: 500px;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.flower {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.label-all {
  display: flex;
  align-items: center;
  justify-content: start;

  margin-bottom: 16px;
}

.label {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: #ad7d37;
  margin-left: 16px;
  font-style: italic;
}

.labelc {
  margin-left: 8px;
  width: auto;
  color: #ad7d37;
}

.label::after {
  display: inline-block;
  margin-left: 2rem;
  width: 10rem;
  height: 1px;
  background-color: #ad7d37;
  content: "";
}

.door-side {
  width: 350px;
  height: auto;
}

.information-all {
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 12.5px;
}

.information {
  display: block;
  text-align: start;
  color: white;
  font-size: 17px;
  line-height: 30px;
}

.information > span {
  color: white;
}

.name {
  font-size: 24px;
  margin-bottom: 8px;
  color: white;
}

.door-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin-right: 50px;
}

.door {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 325px;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.door-img {
  transition: all 0.8s ease-out;
  max-width: 100%;
}

.door-img:hover {
  transform: scale(1.1, 1.1);
}

.h2 {
  font-size: 28px;
  display: block;
  margin-bottom: 16px;
  color: white;
}

.h2:hover {
  color: white;
}

.hs {
  color: white;
  margin-left: 16px;
  width: auto;
}

.star-text03 {
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-align: justify;
  font-weight: 300;
}

.yellow {
  color: #ad7d37;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.door-top {
  width: 56px;
  height: fit-content;
  margin-bottom: 16px;
}

.sparkle {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.section02 {
  background: #303030;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title > .h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.section-title > .h2 > .sparkle {
  width: 28px;
  height: 28px;
  margin-right: 16px;
}

.row {
  margin-left: 0px;
}
.skills {
  width: 948px;
}

.skills .progress {
  height: 100px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 16px 0;
  margin: 0 0 6px 0;
  /* text-transform: uppercase; */
  display: block;
  font-weight: 500;
  font-family: "Lora", sans-serif;
  color: white;
  font-size: 24px;
  line-height: 30px;
}

.skills .progress .skill .val {
  float: right;
  font-size: 18px;
  color: white;
  font-style: italic;
}

.skills .progress-bar-wrap {
  background: #f3f3f3;
  height: 10px;
  position: relative;
  margin-top: 16px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #ad7d37;
  position: absolute;
}
/* RWD */
/* xs - Extra small devices (portrait phones, less than 426px) */
@media (max-width: 425.98px) {
  .logo {
    font-size: 14px;
  }

  .section01 {
    height: 144px;
  }

  .subtitle-drawing {
    font-size: 30px;
  }

  .p-drawing {
    font-size: 14px;
  }
}

@media (min-width: 426px) and (max-width: 575.98px) {
  .subtitle-drawing {
    font-size: 40px;
  }

  .p-drawing {
    font-size: 17px;
  }
}

/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* md - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* lg - Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* xl - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* RWD */
/* xs - Extra small devices (portrait phones, less than 426px) */
@media (max-width: 425.98px) {
  #contact {
    height: 96px;
  }

  #p-contact {
    font-size: 14px;
  }

  #copyright {
    font-size: 10px;
  }
  #gotop {
    right: 15px;
  }
}

@media (min-width: 426px) and (max-width: 575.98px) {
  #contact {
    height: 96px;
  }

  #p-contact {
    font-size: 16px;
  }

  #copyright {
    font-size: 12px;
  }
  #gotop {
    right: 15px;
  }
}

/* sm - Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #gotop {
    right: 15px;
  }
}

/* md - Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #link-group > #contact {
    display: none;
  }
}

/* lg - Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #link-group > #contact {
    display: none;
  }
}

/* xl - Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #link-group > #contact {
    display: none;
  }
}

.gotop {
  position: fixed;
  z-index: 90;
  right: 30px;
  bottom: 100px;
  display: none;
  width: 50px;
  height: 50px;
  color: white;
  background: #ad7d37;
  line-height: 50px;
  border-radius: 50%;
  transition: all 0s;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
#gotop :hover {
  background: #976e30;
  border-radius: 50%;
  /* width: 50px;
  height: 50px; */
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.arrow-picture {
  width: 30px;
}

/* contact區塊 */
.contact {
  height: 160px;
  display: flex;
  flex-direction: column;
  /* 同一層排中間 */
  align-items: center;
  justify-content: center;
}

.p-contact {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.copyright {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

.social-logo {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

/* section03 */

.section03 {
  width: 100%;
  height: 100%;
  background: #303030;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section03 > .label-all {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 32px;
  padding-top: 32px;
}

.section03 > .label-all > .label {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #ad7d37;
  margin-left: 16px;
  font-style: italic;
}

.section03 > .label-all > .label > .labelc {
  margin-left: 8px;
  width: auto;
  color: #ad7d37;
}

.section03 > .label-all > .label::after {
  display: inline-block;
  margin-left: 2rem;
  width: 100%;
  height: 1px;
  background-color: #ad7d37;
  content: "";
}

.section03 > .star-text-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star-text-all > div {
  text-align: center;
}

.star-text01 {
  font-size: 32px;
  font-weight: 500;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
}

.star-text02 {
  font-size: 32px;
  margin-left: 16px;
  color: white;
}

.section03 > .star-text-all > .star-text03 {
  font-size: 20px;
  color: white;
  margin-top: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  font-weight: 300;
  width: 900px;
  text-align: justify;
}

.star-p {
  font-size: 20px;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  /* margin-bottom: 36px;
  margin-top: 16px; */
  text-align: center;
  line-height: 25px;
  font-weight: 300;
}

.star-p01 {
  font-size: 20px;
  color: white;
  /* margin-bottom: 36px;
  margin-top: 16px; */
  letter-spacing: 1px;
}

/* 用 JS 可以自动化 */
/* 一次增加旋转角度 */

.img-all {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  width: 800px;
  height: 300px;
  /* z-index: 0; */
}

/* .img1 {
  left: 0%;
}

.img2 {
}

.img3 {
  right: 0%;
} */

.img-cover {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.img-cover > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.small.small-circle {
  position: relative;
  width: 160px;
  height: 160px;
  background-size: 100%;
  transition-duration: 0.2s;
}

.small.small-circle:hover {
  width: 200px;
  height: 200px;
}

.star-content {
  height: 100%;
  background: #303030;
  /* padding-top: 40px; */
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  /* flex-direction: column-reverse; */
  justify-content: center;
  align-items: center;
}

.star-content-in {
  width: 900px;
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: center;
  align-items: center;
  z-index: 12;
  position: relative;
}

#star-ab {
  z-index: 12;
  position: absolute;
}

.big-picture {
  height: 500px;
  width: 500px;
  z-index: 5;
  margin-left: 40px;
}

.star-animate02 {
  width: 80px;
  display: flex;
  justify-content: end;
}

.star-text-all.s2 {
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 5;
  text-align: center;
  width: 400px;
  margin-left: 40px;
}

.s2 {
  color: white;
  text-align: start;
  width: auto;
}

.rewrite {
  font-weight: 500;
  margin-top: 16px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.star-text01.s2 {
  display: block;
}

.star-text02.s2 {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.star-text03.s2 {
  color: white;
  font-size: 20px;
  text-align: justify;
  /* text-align: center; */
  margin-top: 16px;
  /* width: 900px; */
}

.island-story {
  width: 900px;
}

.island-story > .star-text-all.s2 {
  width: 100%;
  margin-left: 0px;
}

.timeline {
  max-width: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.timeline li {
  /*線の起点とするためrelativeを設定*/
  position: relative;
  list-style: none;
  padding: 0 0 20px 0;
  height: 100%;
}

.timeline dl {
  margin: 0 0 20px 3em;
}

.timeline dd strong {
  display: block;
  padding: 10px 0;
}

/*絶対配置で線を設定*/
.border-line {
  /*線の位置*/
  position: absolute;
  left: 19px;
  top: 0;
  width: 2px; /*線の太さ*/
  height: 0; /*はじめは高さを0に*/
  background: #ad7d37;
  border-radius: 2px;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  /* background: #ad7d37; */
  /* border-radius: 50%; */
  background: url(../imgs/flower\ logo.png);
  background-size: contain;
}

/*========= レイアウトのためのCSS ===============*/

section {
  /* padding: 30px; */
}
section:first-child {
  /* padding: 30px 30px 0px; */
}
